<mat-drawer-container>
  <mat-drawer mode="side" opened="true" style="background:#EEEEEE">
      <mat-nav-list>
          <mat-list-item>
            <mat-icon mat-list-icon style="color:red">home</mat-icon>
            <a matLine [routerLink]="['/app/video/all']" style="font-weight:bold">Inicio</a>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>whatshot</mat-icon>
            <a matLine href="">Tendencias</a>
          </mat-list-item>

          <mat-list-item>
              <mat-icon mat-list-icon>video_library</mat-icon>
              <a matLine href="">Suscripciones</a>
            </mat-list-item>
        

        <mat-divider style="margin-top: 10px"></mat-divider>

        <h3 mat-subheader>BIBLIOTECA</h3>

        <mat-list-item>
          <mat-icon mat-list-icon>restore</mat-icon>
          <a matLine href="">Historial</a>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>watch_later</mat-icon>
          <a matLine href="">Ver más tarde</a>
        </mat-list-item>

        <mat-list-item>
          <mat-icon mat-list-icon>thumb_up</mat-icon>
          <a matLine href="">Videos que me gustan</a>
        </mat-list-item>

        <mat-divider style="margin-top: 10px"></mat-divider>

        <h3 mat-subheader>SUSCRIPCIONES</h3>

        <mat-list-item>
            <img matListAvatar src="assets/user.jpg" alt="Usuario" style="border-radius: 50%; height:24px; width:24px" />
            <a matLine href="">UPV</a>
        </mat-list-item>

      </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style="background:#F5F5F5">
    <!-- TODO: insert all videos -->
    <div style="max-width: 1070px; margin: 0 auto;">
      <h2 style="font-weight: 500; font-size: 1.6rem">Recomendados</h2>
      <mat-grid-list cols="4">
        <div *ngFor="let video of videos">
          <mat-grid-tile>  
            <figure class="mat-figure" style="display:blockflex;">
              <div style="cursor: pointer" [routerLink]="['..', 'view', video._id]">
                <img [src]="video.image" [alt]="video.title" style="height:117.5px; width:210px">
                <div style="font-weight:500; font-size: 1.4rem; max-height: 3.2rem; overflow: hidden; margin: 8px auto;">
                    {{video.title}}
                </div>
                <div style="color:grey; text-overflow: ellipsis">
                    {{video.author}}
                </div>
                <div style="color:grey; text-overflow: ellipsis">
                    {{video.visualizations}} visualizaciones
                </div>
                <div style="color:grey; text-overflow: ellipsis">
                    {{video.uploadDate | timeAgo}} 
                </div>
              </div>
            </figure>
          </mat-grid-tile>
        </div>        
      </mat-grid-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>