<div id="player">
  <video *ngIf="video" id="videoPlayer" controls autoplay>
    <source [src]="video.path.replace('client/', '')" type="video/mp4">
  </video>
</div>

<div id="contenido">
  <div id="desc">
    <div class="part1">
      <h1>{{video?.title}}</h1>
      <span style="font-size: 1.6rem; color: #616161">{{video?.visualizations}} visualizaciones</span>
    </div>
  </div>
  <div id="more">
    <span class="text2">Siguiente</span>
    <div style="float: right">
      <span class="text1">REPRODUCCIÓN AUTOMÁTICA</span>
      <mat-slide-toggle></mat-slide-toggle>
  </div>
  </div>
</div>